<script type="text/javascript" src="/static/js/jquery-1.11.2.min.js"></script>
<script type="text/javascript" src="/static/js/xheditor-1.2.2.min.js"></script>
<script type="text/javascript" src="/static/js/xheditor_lang/zh-cn.js"></script>
<script type="text/javascript" src="/static/js/xheditor_plugins/codeinsert.js"></script>
<script type="text/javascript" src="/static/js/index.js"></script>
<script type="text/javascript" src="/static/js/write/write.js"></script>
<link rel="stylesheet" href="/static/css/home/toolbar.css"/>
<link rel="stylesheet" href="/static/css/home/footer.css"/>
<link rel="stylesheet" href="/static/css/write/content.css"/>
